@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Lato, Georgia, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Change logo color, letter-spacing (2px) and add icon */

h1,
h2 {
    font-family: Playfair Display, Georgia, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 10px;
}

/* navigation links - change letter spacing (2px)*/

#menu {
    font-size: 90%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* change the pseudo hover to something else e.g change colour use w3s*/
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* change the active page to something else e.g change colour use w3s*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

/*Add colour to header*/
#hero-header {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-size: 100%;
    background-position-y: -5px;

    /* animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* need to adjust padding arrangement/colour on text*/
#hero-image-text {
    font-size: 110%;
    letter-spacing: 4px;
    width: 450px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(62, 180, 137, .7);

    bottom: 300px;
    right: 50px;

    position: absolute;
}

/* about us */

#about-fresh-face {
    height: 600px;
}

#left-about {
    height: 600px;
    width: 33%;
    float: left;
    background: url(../images/woman-with-natural-remedy-on-her-face.jpg) no-repeat center center;
    background-size: 100%;
    
}

#right-about {
    height: 600px;
    width: 33%;
    float: right;
    background: url(../images/woman-with-fresh-face-smiling.jpg) no-repeat center center;
    background-size: 100%;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: green;
}

