@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Lato, Georgia, sans-serif;
    font-weight: 300;
    color: #000000;
}

h1, h2 {
    font-family: Playfair Display, Georgia, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
}

h3, h4 {
    font-family: Playfair Display, Georgia, sans-serif;
    letter-spacing: 2px;
    color: #000000;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 10px;
}

/* navigation links */

#menu {
    font-size: 90%;
    letter-spacing: 4px;
    float: right;
}

#menu,
#logo {
    line-height: 75px;
}

#menu > li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* pseudo hover */
#menu a:hover {
    background-color: #3eb489;
}


.active {
    border-bottom: 4px solid #3a3a3a;
}

/* hero image */


#hero-header {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-size: 100%;
    background-position-y: -5px;

    /* animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


#hero-image-text {
    font-size: 110%;
    letter-spacing: 4px;
    width: 450px;
    height: 100px;

    padding-top: 21px;
    padding-left: 5px;

    background-color: rgba(196, 235, 150, .9);

    bottom: 300px;
    right: 50px;
    text-align: center;

    position: absolute;
}

/* about us */

#we-love-ff {
    height: 600px;
}

#left-about-image {
    height: 600px;
    width: 33%;
    float: left;
    background: url(../images/left-about-image-woman-with-natural-remedy-on-her-face.jpg) no-repeat center center;
    background-size: 100%;
    
}

#right-about-image {
    height: 600px;
    width: 33%;
    float: right;
    background: url(../images/right-about-image-woman-with-fresh-face-smiling.jpg) no-repeat center center;
    background-size: 100%;
}

#we-love-ff-header {
    text-align: center;
    margin: 20px 0px;
    font-size: 200%;
    background-color: aqua;
}

/* Changed letter-spacing to 2px make sure to change others too*/
#center-about-content {
    font-size: 110%;
    letter-spacing: 2px;
    text-align: left;
    width: 33%;
    height: 600px;
    padding: 5px;
    margin: 0 auto;
    background-color: rgba(142, 229, 11, 0.9); 
}


/* testimonial */
#testimonial-header {
    text-align: center;
    margin: 20px 0px;
    font-size: 200%;
    background-color: aqua;
    clear: both;
}

#testimonial div {
    width: 25%;
    height: 300px;
    float: left;
    text-align: center;
    padding: 15px 5px;
    border: 2px solid silver;
    box-sizing: border-box;
    background-color: rgba(196, 235, 150, .9);  
}

/* footer */
footer {
    width: 100%;
    background-color: silver;
}

.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #000000;
}

#copy {
    text-align: center;
    padding: 1%;
    color: #ffffff;
}


/* Remedies page */
#skin-type {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

/* Each remedy div */
#dsr {
    height: 700px;
    width: 100%;
    background-color: antiquewhite;
}

#osr {
    height: 700px;
    width: 100%;
    background-color: silver;
}

#csr {
    height: 700px;
    width: 100%;
    background-color: burlywood;
}

.h2-s-t, .h3-s-t {
    text-align: center;
}
