@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Lato, Georgia, sans-serif;
    font-weight: 300;
    color: #000000;
}

h1, h2 {
    font-family: Playfair Display, Georgia, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
}

h3, h4 {
    font-family: Playfair Display, Georgia, sans-serif;
    letter-spacing: 2px;
    color: #000000;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 10px;
}

/* navigation links */

#menu {
    font-size: 90%;
    letter-spacing: 4px;
    float: right;
}

#menu,
#logo {
    line-height: 75px;
}

#menu > li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* pseudo hover */
#menu a:hover {
    background-color: #d3d3d5;
}


.active {
    border-bottom: 4px solid #3a3a3a;
}

/* hero image */


#hero-header {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-size: 100%;
    background-position-y: -5px;

    /* animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-image-text {
    font-size: 100%;
    letter-spacing: 4px;
    width: 450px;
    height: 100px;
    padding-top: 21px;
    padding-left: 5px;
    background-color:  rgba(210, 223, 175, .9);
    bottom: 300px;
    right: 50px;
    text-align: center;
    position: absolute;
}

/* about us */

#we-love-ff-header {
    text-align: center;
    font-size: 100%;
    height: 100px;
    width: 100%;
    line-height: 100px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 10px 0;
    background-color:  #d2dfafe6;
}

#fresh-face-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300;
}

#left-image {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 45%;
    background-size: 100%;
    padding: 20px;
}

#left-image > img {
    height: 100%;
}

#right-text {
    font-size: 110%;
    letter-spacing: 2px;
    text-align: center;
    width: 33%;
    padding: 5px;
    margin: 0 auto;
}

#left-text {
    font-size: 110%;
    letter-spacing: 2px;
    text-align: center;
    width: 33%;
    padding: 5px;
    margin: 0 auto;
}

#right-image {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 45%;
    background-size: 100%;
    padding: 20px;
}

#right-image > img {
    height: 100%;
}

/* testimonial */

#testimonial-header {
    text-align: center;
    font-size: 100%;
    width: 100%;
    line-height: 100px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 10px 0;
    background-color:  #d2dfafe6;
}

#testimonial-names {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #c2c5c4;
    
    
}

#testimonial-names h3 {
    text-align: center;
}

.test-comments {
    border: 2px dotted #000000;
    box-sizing: border-box; 
    padding: 10px 10px;
}

/* footer */
footer {
    width: 100%;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 10px 0;
    background-color:  #d2dfafe6;
}

.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #000000;
}

#copy {
    text-align: center;
    padding: 1%;
    color: #ffffff;
}


/* Remedy section*/
#skin-type-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: .5rem 0;
    overflow: hidden;
}

/* inside the container */
.skin-headings {
    background-color: #d2dfafe6;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* Each skin remedy section */
.remedies-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.need {
    background-color: #c2c5c4;
    flex: 1 1 100px;
    padding: 20px 20px 20px 25px;
    border: 2px dotted #000000;
    box-sizing: border-box;
}

.make {
    background-color: #f0dfa0;
    flex: 1 1 100px;
    padding: 20px 20px 20px 25px;
    border: 2px dotted #000000;
    box-sizing: border-box;
}

.apply {
    background-color: #c2c5c4;
    flex: 1 1 100px;
    padding: 20px 20px 20px 25px;
    border: 2px dotted #000000;
    box-sizing: border-box;
}

.treat {
    background-color: #f0dfa0;
    flex: 1 1 100px;
    padding: 20px 20px;
    border: 2px dotted #000000;
    box-sizing: border-box;
}

/*Skin charts*/
#skin-chart-container {
    width: 100%;
    margin: .5rem 0;
    overflow: hidden;
}

#skin-chart-headings {
    background-color: #d2dfafe6;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#skin-chart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 50px;
}

.grid-skin-type {
    background-color: #c2c5c4;
    padding: 50px 10px;
    border: 2px dotted #000000;
    box-sizing: border-box;
    text-align: center;
}

.grid-skin-sypmtoms {
    background-color: #f0dfa0;
    padding: 30px 200px;
    border: 2px dotted #000000;
    box-sizing: border-box;
    text-align: center;
}

/* Form and contact section */

/* Form section */

.form-section {
    background-color: #ffffff;
    background-size: cover;
    width: 100%;
    margin: .5rem 0;
    overflow: hidden;
    
}

.feedback-form {
    margin:50px 20% 0 20%;
    background-color: #c2c5c4;
    color: #000000;
    max-width: 100%;
    left: 5%;
    padding:30px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.feedback-form > h2 {
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    background: #ffffff;
    color: #000000;
    width:100%;
    height: 25px;
    margin: 5px 0 20px 0;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 2px;
}

.text-area {
    background: #ffffff;
    color: #000000;
    width:100%;
    height: 100px;
    margin: 5px 0 20px 0;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 2px;
}

.text-input:hover {
    background-color:#d2dfafe6;
}

.text-area:hover {
    background-color:#d2dfafe6;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f0dfa0;
    color: #080808;
}

.submit-button:hover {
    background-color: #ff0000;
    color: #ffffff;
}

/* Contact section */

.contact-info {
    margin:0 20% 10px 20%;
    background-color: #f0dfa0;
    color: #000000;
    max-width: 100%;
    left: 5%;
    padding:30px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.contact-info > h2 {
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.get-in-touch {
  
    color: #000000;
    width:100%;
    height: 30px;
    margin: 2px 0 5px 0;
    padding: 10px;
}

.contact-address{
    
    color: #000000;
    width:100%;
    height: 80px;
    margin: 2px 0 5px 0;
    padding: 10px;
}

/*iframe*/
#goggmap {
    width: 100%;
    height: 300px;
    margin: 30px 0 0 0;
}

/* Media queries */

/*For screens size from 1360px wide and down */
@media screen and (max-width: 1360px) {
    #hero-image-text {
    font-size: 90%;
    letter-spacing: 2px;
    width: 225px;
    height: 110px;
    padding: 10px 10px;
    background-color:  rgba(210, 223, 175, .9);
    bottom: 320px;
    right: 140px;
    text-align: center;
    position: absolute;
}
}

/*For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1360px) {
    
}